@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
   
       <ul style="list-style:none;" >
             <center><li>
                <img src="@CurrentPage.imgg1"class="threeimgonsarow">
             <center></li></center>
            <li>
                <img src="@CurrentPage.imgg2"class="threeimgonsarow">
             <center></li></center>
             <li>
                <img src="@CurrentPage.imgg3"class="threeimgonsarow">
            </li></center>
        </ul>

<link rel="stylesheet" href="/css/formats css.css">
