h1 {
color:white;	
}

a {
	color: red !important;
}
  
    img.threeimgonsarow 
    {
                width: 100px;
                height: 100px;
            }

p {
color: white !important;
}
sdt_menu.p{
	color:white !important;
}